img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card {
    border: 3px solid black;
    width: 300px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}
