.parent {
    background: rgb(7, 192, 248);
    font-size: 3rem;
    height: 200vh;
}

.child-one {
    background: rgb(204, 13, 13);
}

.child-tow {
    background: rgb(212, 226, 8);
}

.child-three {
    background: rgb(70, 218, 12);
}

.child {
    padding: 20px;
}